//Colors
$bkg_color: #DADFE1;
$bkg_color_lighter: #F2F1EF;
$bkg_dark: #2c3e50;

// Theme Color - updated
$main_color: #1E824C;
$main_color_accent: #26A65B;
$main_color_dark: #104428;
$main_color_light: #bde4cd;

// Accents - updated
$main_color_opp: #C0392B;
$main_color_accent_opp: #D64541;

// Other button colours
$facebook: #3b5998;
$facebook_highlight: #758ab6;

$twitter: #00aced;
$twitter_highlight: #8bdfff;

$google:#dd4b39;
$google_highlight: #e78174;

// transition times
$transition: all 0.1s;